.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 32px;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root .darkmode > .dayIcon,
:root .darkmode > .nightIcon,
:root .darkmode > .systemIcon {
  display: none;
}

:root[data-theme-mode="light"] .darkmode > .dayIcon {
  display: inline;
}

:root[data-theme-mode="dark"] .darkmode > .nightIcon {
  display: inline;
}

:root[data-theme-mode="system"] .darkmode > .systemIcon {
  display: inline;
}
